@import '~bootstrap/scss/bootstrap';

$primary-color: #B90000;
$background-color: #FFFFFF;
$foreground-color: #292929;
$main-font: 'Syne';
$secondary-font: 'Inter';
$default-desktop-margin: 80px;

.t1 {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-size: 128px;
  line-height: 170px;
  letter-spacing: 5.5%;
}

.t2 {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 90px;
  letter-spacing: 5.5%;
}

h1 {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 5.5%;
}

h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 5.5%;
}

h3 {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5.5%;
}

.b2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5.5%;
}

@media (max-width: 767.98px) {
  .t1 {
    font-size: 64px;
    line-height: 90px;
  }

  h1 {
    font-size: 36px;
    line-height: 48px;
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 359px) {
  .t1 {
    font-size: 48px;
    line-height: 70px;
  }

  h1 {
    font-size: 24px;
    line-height: 32px;
  }

  h2 {
    font-size: 16px;
    line-height: 24px;
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
  }
}

.primary-background {
  background-color: $primary-color;
}

.foreground-background {
  background-color: $foreground-color;
}

.background-color-text {
  color: $background-color;
}

//Button styles
.btn {
  background-color: transparent;
  border-color: $foreground-color;
}

.inv-btn {
  background-color: transparent;
  border-color: $background-color;
}

button {
  border-radius: 32px;
  min-width: 50px;
  width: fit-content;
  border: 1.5px solid;
  height: 40px;
  padding: 0px 24px;
  gap: 16px;
}

.button-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 40px;
}