

$primary-color: #B90000;
$background-color: #FFFFFF;
$foreground-color: #292929;
$main-font: 'Syne';
$secondary-font: 'Inter';
$default-desktop-margin: 80px;

body {
  font-size: 16px;
  line-height: 20px;
  font-family: $main-font;
  font-style: normal;
  color: $foreground-color;
}

.t1 {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-size: 128px;
  line-height: 170px;
}

h1 {
  font-size: 32px;
  font-family: 'Syne';
  line-height: 40px;
}

h2 {
  font-size: 24px;
  font-family: 'Inter';
  line-height: 32px;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Syne';
  font-weight: 600;
  font-style: normal;
}

.primary-background {
  background-color: $primary-color;
}

.foreground-background {
  background-color: $foreground-color;
}

.background-color-text {
  color: $background-color;
}

//Button styles
.btn {
  background-color: $background-color;
  border-color: $foreground-color;
}

.inv-btn {
  background-color: $background-color;
  border-color: $foreground-color;
}

button {
  border-radius: 32px;  
  min-width: 50px;
  border: 1.5px solid;
  height: 40px;
  padding: 0px 24px;
}

.button-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 40px;
}

.arrow-container {
  margin: 7px 0px;
}