@import '../../../base.scss';

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 420px;
}

.latest-project-container {
  height: 420px;
  padding-top: 40%;
  max-height: 100%;
}

.projects-links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}