@import '../../../base.scss';

.site-footer {
  // background-color: $background-color;
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column; 
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-menu-container {
  margin: 10px 0px;
}

.up-btn {
  right: 0px;
}

.copyright-container {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}