@import '../../../base.scss';

nav {
  transition: .3s;
  font-family: 'Syne';
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #151515;
  padding: 12px 30px;
  text-decoration: none;
  transition: .3s;
}