@import url("base.css");

/* header styles */
.site-header {
  position: fixed;
  top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.icon-wrapper {
  width: 20px;
  height: 20px;
  background-color: inherit;
  margin-left: 5%;
  left: 0;
}

.icon-image {
  width: 20px;
  height: 20px;
  margin-left: 0px;
}

/*menu styles*/
nav {
  transition: .3s;
  font-family: 'Syne';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #151515;
  padding: 12px 30px;
  text-decoration: none;
  transition: .3s;
}

/*footer styles*/
.site-footer {
  background-color: #FFFFFF;
  position: relative;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.footer-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.copyright-container {
  font-family: 'Inter';
  font-size: 12px;
  line-height: 16px;
}

.horizontal-arrow-container {
  height: 28px;
}

.horizontal-arrow {
  height: 60%;
}
/*main content*/
.main-container {
  margin-top: 20px;
  max-width: 1440px;
}

.primary-background-block {
  background-color: var(--primary-color);
}

.foreground-background-block {
  background-color: var(--foreground-color);
}

.background-color-text {
  color: var(--background-color);
}

.projects-links-container {
  display: flex;
  flex-direction: row;
  bottom: 0;
}

.blocks-section {
  display: flex;
  flex-direction: row;
  min-height: 30vh;
}

.hey-section {
  flex: 2.5;
}

.latest-section {
  flex: 1;
}

.portfolio {
  width: 30%;
  border-bottom: 1px solid black;
}

.resume {
  height: 30vh;
}

.next-project {
  border-bottom: 1px solid black;
  max-width: 50%;
}